body {
  font-family: Georgia,"Times New Roman",Times,serif;
  font-size: 24px;
  line-height: 1.618;
  /*background: #FAFAFA;*/
  background: white;
}
p {
  line-height: 1.618;  
}
.navbar-default .navbar-brand {
    color: #4F4F4F;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #000;
    background-color: transparent;
}
.navbar-default .navbar-nav > li > a {
    color: #4F4F4F;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #000;
    background-color: transparent;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0px 0 12px;
}
.intro-header {
  margin-top: 60px;
  margin-bottom: 0;
}
.featured-header {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 600px;
  text-align: center;
  background: #001D40;
  margin-bottom: 9px;
}
.featured-header .latest-article {
  position: absolute;
  top: 375px;
  margin: 0;
  /*left: 314px;*/
  color: white;
  background: #001D40;
  padding: 2px 10px;
}
.latest-article > p {
  margin: 0;
}
.featured-header .site-heading {
  position: relative;
  top: 418px;
  color: black;
  background-color: white;
  text-align: center;
  padding: 30px 20px 22px;
}
.featured-header .site-heading > h1 {
  font-size: 45px;
}
.featured-header .site-heading .meta {
  font-family: 'Lora', 'Times New Roman', serif;
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
}
.previous-articles {
  /*text-align: center;*/
}
.previous-articles > p {
  display: inline-block;
  /*color: white;*/
  background-color: #f2f2f2;
  padding: 3px 10px;
  margin-top: 0;
  margin-bottom: 47px;
}
.post-header {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 700px;
  text-align: center;
  background: #001D40;
  margin-bottom: 9px;
}
.section-header {
  margin-bottom: 0;
  background: #001D40;
}
.intro-header .post-heading {
  position: relative;
  top: 440px;
  background-color: white;
  color: black;
  text-align: center;
  padding: 70px 20px 53px;
}
.post-heading > .meta {
  margin-top: 35px;
}
.intro-header .post-heading .meta a {
    color: #000;
}
@media screen and (max-width: 767px) {
  .intro-header .post-heading {
    position: relative;
    top: 393px;
    background-color: white;
    color: black;
    padding: 40px 10px 16px;
  } 
}
.intro-header .page-heading {
    padding: 70px 0;
  }
.intro-header .page-heading h1 {
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 65px;
}
.row-article {
  transition: all 0.03s ease;
}
.row-article:hover,
.row-article:focus {
  background: #f2f2f2;
}
.row-article a:hover,
.row-article a:focus {
  color: #404040 !important;
}
.col-image {
  height: 114px;
  background: #001D40;
}
.col-position {
  height: 114px;
  padding: 0;
  line-height: 1.190;
  font-size: 79px;
  font-weight: 800;
  text-align: center;
  color: white;
  background: #001D40;
}
.col-date {
  height: 114px;
  padding: 0;
  line-height: 1.190;
  font-size: 31px;
  font-weight: 800;
  text-align: center;
  color: white;
  background: #001D40;
}
.image-background {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  transition: filter 0.62s ease-in-out;
  filter: grayscale(100%);
}
.col-date:hover .image-background,
.col-position:hover .image-background {
  filter: grayscale(0);
}
.color-overlay {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: #001D40;
  opacity: 0.80;
}
.text-overlay {
  position: relative;
  z-index: 3;
  opacity: 1;
}
.col-date > .text-overlay > p,
.col-position > .text-overlay > p {
  margin: 0;
  line-height: 1.19;
}
.col-date > .text-overlay > p {
  padding: 20px;
}
.col-position > .text-overlay > p {
  padding: 9px;
}
.color-overlay,
.text-overlay {
  transition: opacity 0.5s ease-in-out;
}
.col-date:hover .color-overlay,
.col-date:hover .text-overlay,
.col-position:hover .color-overlay,
.col-position:hover .text-overlay {
  opacity: 0;
}
@media screen and (max-width: 579px) {
  .col-position {
    text-align: center;
  }
  .post-meta {
    text-align: center;
  }
}
.col-article {
  padding-left: 23px;
}
@media screen and (max-width: 579px) {
  .col-article {
    text-align: center;
    padding-left: 15px;
  }
}
.col-views {
  vertical-align: bottom;
  padding-right: 8px;
}
.border-bottom {
  border-bottom: 1px solid #ddd;
}
/*.custom-table > tbody > tr > td {
  border-top: 0;
  padding-right: disable;
}*/
.hr-index {
  margin-top: 23px;
  margin-bottom: 23px;
}
.hr-popular {
  margin-top: 23px;
  margin-bottom: 23px;
}
.hr-article {
  margin: 51px auto 0;
  bottom: 0;
  width: 4%;
  border-top: 1px solid #000;
}
.section-container,
.archive-container,
.comments-container, 
.article-container {
  padding-left: 98px;
  padding-right: 98px;
  background: white;
}
.section-container {
  padding-top: 61px;
  padding-bottom: 61px;
}
.popular-container {
  padding-top: 126px;
}
.archive-container {
  padding-top: 61px;
  padding-bottom: 61px;
  /*text-align: center;*/
}
.comments-container {
  padding-top: 30px;
  padding-bottom: 61px;
}
.article-container {
  padding-top: 1px;
  padding-bottom: 30px;
}
@media screen and (max-width: 991px) {
  .section-container,
  .archive-container,
  .comments-container,
  .article-container {
    padding-left: 78px;
    padding-right: 78px;
  }
}
@media screen and (max-width: 767px) {
  .section-container,
  .archive-container,
  .comments-container,
  .article-container {
    padding-left: 64px;
    padding-right: 64px;
  }
}
.h1-archive {
  font-size: 65px;
  font-weight: 800;
  margin-top: 90px;
  margin-bottom: 90px;
  text-align: center;
}
.h1-archive:first-child {
  margin-top: 50px;
}
.h2-archive {
  font-size: 35px;
  font-weight: 800;
}
.post-preview-archive > a > .post-title {
  font-size: 36px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.post-preview > .post-meta {
  margin-bottom: 20px;
}
.post-meta-top {
  margin-bottom: 12px;
}
.section-comments {
  border-top: 1px solid #eee;
}
.h2-comments {
  font-weight: 800;
  padding-bottom: 5px;
}
.comments {
  padding-top: 0;
}
.comment > p {
  line-height: 1.4;
}
.comments-container hr:nth-last-child(1) {
  border-top: 0;
}
.hr-comments-divider {
  margin-top: 60px;
  margin-bottom: 55px;
}
.post-a-comment {
  margin-top: 30px;
}
.container-bottom-links {
  margin-top: 68px;
}
.footer {
  color: #fff;
  background: #001D40;
  padding: 70px 0;
  /*border-top: 12px solid #e7e7e7;*/
}
footer ul > li > a {
  color: #FAFAFA;
}
footer ul > li > a:hover,
footer ul > li > a:focus {
  color: white;
}
.fa-dark {
  color: #4F4F4F;
}
.fa-dark:hover,
.fa-dark:focus {
  color: #000;
}
.v-offset-10 {
  padding-top: 10px;
}
