body {
  font-family: Georgia,"Times New Roman",Times,serif;
  font-size: 24px;
  line-height: 1.618;
  /*background: #FAFAFA;*/
  background: white;
}
p {
  line-height: 1.618;  
}
.navbar-default .navbar-brand {
    color: #4F4F4F;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #000;
    background-color: transparent;
}
.navbar-default .navbar-nav > li > a {
    color: #4F4F4F;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #000;
    background-color: transparent;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0px 0 12px;
}
.intro-header {
  margin-top: 60px;
  margin-bottom: 0;
}
.post-header {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 600px;
  text-align: center;
  background: #001D40;
  margin-bottom: 9px;
}
.section-header {
  margin-bottom: 0;
  background: #001D40;
}
.intro-header .post-heading {
  position: relative;
  top: 340px;
  background-color: white;
  color: black;
  text-align: center;
  padding: 70px 20px 53px;
}
.post-heading > .meta {
  margin-top: 35px;
}
.intro-header .post-heading .meta a {
    color: #000;
}
@media screen and (max-width: 767px) {
  .intro-header .post-heading {
    position: relative;
    top: 393px;
    background-color: white;
    color: black;
    padding: 40px 10px 16px;
  } 
}
.intro-header .page-heading {
    padding: 70px 0;
  }
.intro-header .page-heading h1 {
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 65px;
}
.col-position {
  padding-right: 0;
  line-height: 1.190;
  text-align: right;
  font-size: 90px;
  font-weight: 800;
}
@media screen and (max-width: 579px) {
  .col-position {
    text-align: center;
  }
  .post-meta {
    text-align: center;
  }
}
.col-article {
  padding-left: 40px;
}
@media screen and (max-width: 579px) {
  .col-article {
    text-align: center;
    padding-left: 15px;
  }
}
.col-views {
  vertical-align: bottom;
  padding-right: 8px;
}
.border-bottom {
  border-bottom: 1px solid #ddd;
}
.custom-table > tbody > tr > td {
  border-top: 0;
  padding-right: disable;
}
.hr-popular {
  margin-top: 12px;
}
.hr-article {
  margin: 51px auto 0;
  bottom: 0;
  width: 4%;
  border-top: 1px solid #000;
}
.section-container,
.comments-container, 
.article-container {
  padding-left: 98px;
  padding-right: 98px;
  background: white;
}
.article-container {
  padding-top: 1px;
  padding-bottom: 30px;
}
.section-container {
  padding-top: 61px;
  padding-bottom: 61px;
}
.comments-container {
  padding-top: 30px;
  padding-bottom: 61px;
}
@media screen and (max-width: 991px) {
  .section-container,
  .comments-container,
  .article-container {
    padding-left: 78px;
    padding-right: 78px;
  }
}
@media screen and (max-width: 767px) {
  .section-container,
  .comments-container,
  .article-container {
    padding-left: 64px;
    padding-right: 64px;
  }
}
.section-comments {
  border-top: 1px solid #eee;
}
.h2-comments {
  font-weight: 800;
  padding-bottom: 5px;
}
.comments {
  padding-top: 0;
}
.comment > p {
  line-height: 1.4;
}
.comments-container hr:nth-last-child(1) {
  border-top: 0;
}
.hr-comments-divider {
  margin-top: 60px;
  margin-bottom: 55px;
}
.post-a-comment {
  margin-top: 30px;
}
.footer {
  color: #fff;
  background: #001D40;
  padding: 70px 0;
  /*border-top: 12px solid #e7e7e7;*/
}
footer ul > li > a {
  color: #FAFAFA;
}
footer ul > li > a:hover,
footer ul > li > a:focus {
  color: white;
}
.fa-dark {
  color: #4F4F4F;
}
.fa-dark:hover,
.fa-dark:focus {
  color: #000;
}
.v-offset-10 {
  padding-top: 10px;
}
