body {
  font-family: Georgia,"Times New Roman",Times,serif;
  font-size: 24px;
  line-height: 1.618;
}
p {
  line-height: 1.618;  
}
.navbar-default .navbar-brand {
    color: #4F4F4F;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #000;
    background-color: transparent;
}
.navbar-default .navbar-nav > li > a {
    color: #4F4F4F;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #000;
    background-color: transparent;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0px 0 12px;
}
.intro-header {
  margin-bottom: 0;
}
.post-heading {
  text-align: center;
}
.post-heading > .meta {
  margin-top: 20px;
}
.intro-header .post-heading .meta a {
    color: #000;
}
